* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
}


canvas {
    display: block;
    position: absolute;
    background-color: rgb(0, 99, 230);
}

button {
    z-index: 3;
    display: block;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}

.BtnContainer {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#playBtn, #helpBtn {
    background-color: rgb(0, 99, 230);
}

.helpPg {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.8);
 
}

.endGamePg {
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.8);
}

#closeHelp {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    overflow: auto;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
}

#closeHelp:hover,
#closeHelp:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.directions{
    position: none;
justify-content: center;
align-items: center;
    margin: 25%;
}
